@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

.tamaño {
  resize: none;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */

.container {
  max-width: 1024px;
  min-height: 100vh;
  background: #f9f9f9;
  margin: 0 auto;
}

/**
 * Top Navigation
 */

.menu {
  height: 4em;
  background-color: #e46855;
}

.menu h1 {
  position: relative;
  padding: 5px 0 0 8px;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}

.rentals label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.rentals input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgb(255 255 255 / 75%);
  border: solid 1px lightgray;
  display: block;
}

.menu input:focus {
  background-color: #f9f9f9;
  outline: none;
}

.menu button {
  margin-right: 15px;
  position: relative;
  top: -1px;
  left: -5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #262626;
  cursor: pointer;
  opacity: 1;
}

.menu button:hover {
  background-color: #111;
  opacity: 1;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.results {
  margin-top: -10px;
}

.results li {
  list-style: none;
  padding: 10px 15px;
}

.menu .results li:hover {
  background: #f3f3f3;
}

/**
 * Content Area
 */

.body {
  padding: 15px;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  padding: 50px;
  background: #f6f6f6;
}

.jumbo:hover {
  background-color: #f3f3f3;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Individual Rental Listing
 */

.rental {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rental:hover {
  background-color: #f3f3f3;
}

.rental img {
  border-radius: 5px;
}

.rental .image {
  flex-grow: 0;
  flex-basis: 150px;
  margin: 20px 25px;
  text-align: center;
}

.rental button.image {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.rental button.image:focus {
  outline: none;
}

.rental button.image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: -20px;
  padding: 20px;
  border-radius: 5px;
  background: #016aba;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.rental button.image:focus::after,
.rental button.image:hover::after {
  opacity: 0.1;
}

.rental .image img {
  max-width: 100%;
}

.rental .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.rental .image small {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
  color: #016aba;

  /* This is needed to fix a safari clipping issue */
  position: relative;
}

.rental .image.large small {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 110%;
}

.rental .details {
  flex-basis: 50%;
  flex-grow: 2;
  display: flex;
  height: 150px;
  margin: 20px 25px;
  place-content: space-around space-between;
  flex-wrap: wrap;
}

.rental h3 {
  flex-basis: 100%;
}

.rental h3 a {
  display: inline;
}

.rental .detail {
  flex-basis: 50%;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.rental .detail span {
  font-weight: 400;
  font-style: normal;
}

.rental .map {
  flex-grow: 0;
  flex-basis: 150px;
  font-size: 0;
  margin: 0 25px;
}

.rental .map img {
  width: 150px;
  height: 150px;
}

.rental.detailed {
  background: none;
  align-items: flex-start;
}

.rental.detailed .image {
  flex-basis: 320px;
}

.rental.detailed .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.rental.detailed .details {
  height: auto;
}

.rental.detailed h3 {
  font-size: 200%;
  margin-bottom: 10px;
}

.rental.detailed .detail {
  margin: 5px 0;
  flex-basis: 100%;
  flex-shrink: 2;
}

.rental.detailed .description {
  white-space: normal;
  flex-basis: 100%;
  flex-shrink: 1;
}

.rental.detailed .map {
  flex-basis: 100%;
  margin: 50px 25px 25px;
}

.rental.detailed .map img {
  width: 100%;
  height: auto;
}

@media only screen and (width <= 919px) {
  .rental.detailed .image,
  .rental.detailed .image.large {
    margin: 30px 25px 25px;
    flex-basis: 100%;
    cursor: default;
  }

  .rental.detailed .image:hover {
    flex-basis: 100%;
    cursor: default;
  }

  .rental.detailed .image small {
    display: none;
  }

  .rental.detailed button.image:hover::after {
    opacity: 0;
  }

  .rental.detailed button.image:focus::after {
    opacity: 0.1;
  }

  .rental.detailed .map {
    margin-top: 25px;
  }
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.tomster {
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  top: -25px;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.custom-file-button {
  input[type="file"] {
    margin-left: -2px !important;

    &::-webkit-file-upload-button {
      display: none;
    }

    &::file-selector-button {
      display: none;
    }
  }

  &:hover {
    label {
      background-color: #dde0e3;
      cursor: pointer;
    }
  }
}

#file-input,
#foto-input{
  display: none;
}

.formulario-div-img {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.formulario-imagen {
  width: 270px;
  height: 350px;
  border-radius: 5%;
  margin: 0 auto;
  margin-bottom: 2px;
}

.formulario-img-quitarbtn {
  display: none;
}

.boton-foto-label {
  background: #1f5f74;
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 3px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

.etiqueta-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.etiqueta1, .etiqueta2, .etiqueta3 {
  background-color: #74bbed;
  color: black;
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 28px;
}

.etiqueta {
  background-color: #F6F146;
  color: black;
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 28px;
}

.etiqueta-close {
  margin-left: 5px;
  cursor: pointer;
  border: 1.5px inset black;
  padding: 0px 8px;
  background-color: tomato;
  border-radius: 5px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

.todos {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.btn-primary {
  background-color: #63b8e8 !important ;
}

.btn-primary:hover {
  background-color: #56a9ea !important;
}

/* Estilos para la tabla */
.my-table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para el encabezado de la tabla */
.my-table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilos para las celdas de la tabla */
.my-tabletd {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilos alternativos para filas */
.my-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.my-table tr.selected-row {
  background-color: lightblue; /* Color de fondo para resaltar la fila seleccionada */
}
.my-table td button {
  display: block;
  margin: 4px auto;
  padding: 5px 10px;
  text-align: center;
}

.button-delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.button-update {
  background-color: #ffc700;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.filter-users {
  display: flex;
  justify-content: space-around;
}

#ocultar, #ocultarEdit {
  display: none;
}

select {
  width: 90%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Quita el estilo por defecto del navegador */ /* Para navegadores WebKit como Chrome y Safari */
  appearance: none; /* Para navegadores Mozilla Firefox */
}

/* Estilo para las opciones */
select option {
  padding: 50px !important; /* Aumenta el espacio alrededor del texto */
  min-height: 90px !important;
  font-size: 16px;
  border-radius: 50% !important;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;

  /* Aumenta la altura de las opciones */
}

/* Estilo para la opción seleccionada */
select option:checked {
  font-weight: bold;
  padding: 20px !important;
  border-radius: 50% !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.redondo {
  border-radius: 50% !important;
}

.generos-style{
  border-radius:30px !important;
    padding: 0 10px !important;
}
/* styles.css */

.selected-row {
  background-color: lightblue; /* Color de fondo para resaltar la fila seleccionada */
}

.input-container-horario {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px 10px;
  padding-bottom: 0;
  background-color: #f9f9f9;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-top:-3px;
  height: 100%;
}

/* Estilos para el label */
.input-label-horario {
align-items: center;
justify-content: center;
text-align: center;

  text-align: center;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-agregar{
  font-size: 1em !important;
  margin-top:-3px;
  height: 100%;  padding-top: 1px !important;
}

.btn-grid-ante{
  padding: 0px 10px !important;
  height:  30px;
}

.table-row:hover {
  cursor: pointer;
}

.asiento {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.asiento.seleccionado {
  background-color: #FFD700; /* Color para asientos seleccionados */
}
