<nav class="menu">
  <LinkTo @route="index" class="menu-users">
    <h1>SuperCool</h1>
  </LinkTo>
  <div class="links">
      <LinkTo @route="index" class="menu-movies">
      Usuarios
    </LinkTo>
    <LinkTo @route="movies" class="menu-movies">
      Peliculas
    </LinkTo>
    <LinkTo @route="publicar" class="menu-about">
      Publicar Peliculas
    </LinkTo>
       <LinkTo @route="taquillero" class="menu-about">
      Venta de boletos
    </LinkTo>
  </div>
</nav>