<nav class="menu">
  <LinkTo @route="index" class="menu-users">
    <h1>SuperCool</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="movies" class="menu-movies">
      Peliculas
    </LinkTo>
    <LinkTo @route="index" class="menu-about">
      About
    </LinkTo>
  </div>
</nav>