    <div class="titulo">
        <h1>Usuarios</h1>
    </div>
<div class="filter-users mt-3">
    <div class="filter-state">
        <label for="filter">Filtrar por estado:</label>
        <select id="filter" >
            <option value="todos">Todos</option>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>
    </div>
    <div class="filter-type">
        <label for="filter">Filtrar por tipo:</label>
        <select id="filter" >
            <option value="todos">Todos</option>
            <option value="administrador">Administrador</option>
            <option value="normal">Normal</option>
        </select>
    </div>
    <div class="filter-name">
     <Input  placeholder="Buscar usuario" />
    </div>
</div>
  <Crear::Crear 
@button = 'usuario'
@title = 'del Usuario'
@user = {{true}}
@state1 = 'Activo'
@state2 = 'Inactivo'
@send = 'Crear'
/>
