    <div class="titulo text-center">
        <h1>Películas</h1>
    </div>

  <Crear::Crear 
@button = 'película'
@title = 'de la Película'
@user = {{false}}
@state1 = 'Disponible'
@state2 = 'Retirada'
@send = 'Agregar'
/>
